{% if main_dishes %}
<table >
  <{{ header_style[0].font_size}} style = "color: {{ header_style[0].color }};"> {{titles[0].name}} </{{header_style[0].font_size}}>
  <tr style="text-align: left; height:30px; ">
    {% for colname in col_names%}
        <th style=" padding: 10px;"> {{colname}} </th>
    {% endfor %}  
    </tr> 
  {% for food in main_dishes %} 
  <tr style="color: {{ item_style[0].color}};">
    {% if item_style[0].font_style == 'bold' %}
    <td style=" padding: 10px; "><b>{{food.name}}
    {% else %}
    <td style=" padding: 10px; color: {{ item_style[0].color}}; font-style: {{ item_style[0].font_style}};">{{food.name}}
    {% endif %}
    <br>
    {{ '('}}
    {% for ingredient in food.ingredients %}
      <p style="display:inline-block"> {{ ingredient[1]}} {{ ','}}</p>
    {% endfor %}
    {{ ')'}}
    </b>
    </br>
    </td>
    <td style=" padding: 10px;">{{food.price}}</td>
  </tr>
{% endfor %}
</table>
{% endif %}

{% if soups %}
<{{ header_style[1].font_size}} style = "color: {{ header_style[1].color }};"> {{titles[1].name}} </{{ header_style[1].font_size}}>
<table>
  <tr style="text-align: left; height:30px;">
    {% for colname in col_names%}
        <th style=" padding: 10px;"> {{colname}} </th>
    {% endfor %}  
    </tr>
{% for soup in soups %} 
  <tr style = "color: {{ item_style[1].color}};">
    {% if item_style[1].font_style == 'bold' %}
    <td style=" padding: 10px;"><b>{{soup.name}}
    {% else %}
    <td style=" padding: 10px; font-style: {{ item_style[1].font_style}};">{{soup.name}}
    {% endif %}
    <br>
    {{ '('}}
    {% for ingredient in soup.ingredients %}
      <p style="display:inline-block"> {{ ingredient[1]}} {{ ','}}</p>
    {% endfor %}
    {{ ')'}}
    </br>
    </b>
    </td>
    <td style=" padding: 10px;">{{soup.price}}</td>
  </tr>
{% endfor %} 
</table>
{% endif %}

{% if hot_drinks %}
<table >
  <{{ header_style[2].font_size}} style = "color: {{ header_style[2].color }};"> {{titles[2].name}} </{{ header_style[2].font_size}}>
  <tr style="text-align: left; height:30px;">
    {% for colname in col_names%}
        <th style=" padding: 10px;"> {{colname}} </th>
    {% endfor %}  
    </tr>
{% for drink in hot_drinks %} 
  <tr style="color: {{ item_style[2].color}};">
    {% if item_style[2].font_style == 'bold' %}
    <td style=" padding: 10px; font-size:: {{ item_style[2].font_size}};"> <b>{{drink.name}}</td>
    <td style=" padding: 10px;">{{drink.price}} </b></td>
    {% else %}
    <td style=" padding: 10px; color: {{ item_style[2].color}}; font-style: {{ item_style[2].font_style}};">{{drink.name}}
    <td style=" padding: 10px; font-style: {{ item_style[2].font_style}};">{{drink.price}}</td>
    {% endif %}
  </tr>
{% endfor %} 
</table>
{% endif %}

